# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\JAVA_PRACTICE_&_PROGRAMS\JAVA_Comprehensive_programs\JC_HW_8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
